body {
  background: #f4cedf;
  color: #0e121e;
  margin: auto;
  text-align: center;
  
}

h1 {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: auto;
  font-size: 100;
  
}

h2 {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  margin: auto;
  font-size: 70;
}

p {
  font-family: "Chathura", serif;
  font-weight: 700;
  font-style: normal;
  margin: auto;
  font-size: 50;
  
}

.main {
  width: "80%";
  magin: center;
  padding: 20;
  color: #c6b4bc;
  transition: margin-left 0.5;
  
}

.sideNavBar {
  height: "100%";
  widht: 0;
  position: fixed;
  z-index: 1;
  background: #060606;
  overflow-x: hidden;
  padding-top: 30;
  transition: 0.5;
  
}

.sideNavBar a {
  padding: 8 8 8 32;
  text-decoration: none;
  color: #f7f0f0;
  display: block;
  transition: 0.3;
  font-family: "Audiowide", serif;
  font-size: 80;
  
}

.sideNavBar .sideNavCloseBtn {
  position: absolute;
  top: 0;
  right: 25;
  font-size: 70;
  margin-left: 50;
  
}


